 <script id="Layout-Default" type="text/html">
     
      <header class="bg-dark" data-load="header.html">
            <div style="width:100%" class="navigation-bar dark bd-lime">
                <div class="navigation-bar-content">
                    <a class="element" style="float:left;font-size: 20pt; padding: 9px" href="/"><i style="font-size: 30px !important; padding-right: 5px" class="icon-stats-2 fg-lime"></i>Stock<b>ER+</b></a>
                    <span class="element-divider"></span>

                    <a class="element1 pull-menu" data-bind="metroDropdown: {}"></a>
                    <ul class="element-menu">
                        <li>
                            <a class="dropdown-toggle" href="#"><i class="icon-plus on-right on-left"></i>CREATE</a>
                            <ul class="dropdown-menu dark" data-bind="foreach: TopCreateItems, metroDropdown: {}">
                                <li>
                                    <a data-bind="click:Action">
                                        <i style="padding-right: 10px" data-bind="attr: {class:Icon}"></i>
                                        <!-- ko text:Text -->
                                        <!-- /ko -->
                                    </a>
                                </li>                               
                            </ul>
                        </li>


                        <span class="element-divider"></span>
                        <li class="element brand" href="#" data-bind="click: function () { location.reload(true); }"><span class="icon-spin"></span></li>
                        <span class="element-divider"></span>                       

                        <li  style="padding:0;right:20px" class="element place-right">
                            <a class="dropdown-toggle"><i class="icon-cog on-right on-left"></i></a>
                            <ul  class="dropdown-menu dark place-right" data-bind="metroDropdown: {}">
                                <!-- ko template: { name: GetSettingsTemplate, foreach: SettingsItems } -->
                                <!-- /ko -->                      
                            </ul>
                        </li>
                     
                      <!--  <span class="element-divider place-right"></span>
                        <a class="element place-right" href="#"><span class="icon-locked-2"></span></a>-->

                         <li class="element input-element place-right">
                            <form class="fg-black">
                                <div class="input-control text size3">
                                    <input class="fg-black" type="text" placeholder="Search..."
                                         data-bind="kendoAutoComplete:
                {
                    data: DataSource,
                    dataTextField: 'Id',
                    value: StockName,
                    template: Html.KendoTemplate('Wizard-NewStock-StockTemplate')
                }"/>
                                    <button class="btn-search bg-lime fg-white" data-bind="click: Search, disable: !StockName.isValid()"></button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </header>


        <div id="page-wrapper">

            <div style="padding-left:5px !important;padding-right:5px !important" class="col-sm-2 col-ex-3 no-padding">              
                <nav class="sidebar light" data-bind="ActionLink: App.Navigation.Url">                   
                    <ul>
                       <li class="title leftnav-title" data-bind="text: Title"></li>
                        <!-- ko foreach: LeftNavigationItems-->
                           <li class="bg-active-lime bg-hover-lime" data-bind=" template: { name: 'NavigationLeft-' + Type, data: Value }"></li>                   
                        <!-- /ko-->
                    </ul>
                </nav>

            </div>

            <div id="page-content-wrapper" class="col-sm-10 col-ex-9 bd-lime">
               
                <div data-bind="with: View">               
                    <!-- ko  template: { name: Template ,data:$data,afterRender:App.Navigation.ViewRenderDone} -->
                    <!-- /ko -->
                </div>

            </div>

        </div>
 </script>
<script id="Default-Search-item" type="text/html">
    <h6>#: Id #</h6>
    <p>#= Name # </p>
</script>