<script id="Wizard-CalculateFactors" type="text/html" data-title="Calculate Factors" data-icon="icon-font" data-width="60%">
       
    <form style="padding: 20px; " data-bind="with: new CalculateFactorsViewModel($data)">
        <h2>Settings</h2>
        <div>
            <div style="display: inline-block">
                <label>Start Date</label>
                <input data-bind="kendoDatePicker: {value:StartDate,max:EndDate}" />
            </div>
             <div style="display: inline-block">
                <label>End Date</label>
                <input data-bind="kendoDatePicker: EndDate" />
            </div>
            <div style="display: inline-block">
                <label>Interval</label>
                <input data-bind="kendoComboBox: { value: Interval, dataTextField: 'Name', dataValueField: 'Value', data: Intervals }" />
            </div>

        </div>
        <div>
            <div style="display: inline-block">
                <label>Number of factors</label>
                <input data-bind="kendoNumericTextBox: { value: NOF,  min: 1, decimals: 0 }" />
            </div>
             <div style="display: inline-block">
                <label>Iterations</label>
                <input data-bind="kendoNumericTextBox: { value: Iter, min: 5, decimals: 0 }" />
            </div>           

        </div>

        <div style="position: absolute; bottom: 20px" class="form-actions">
            <button class="button primary" data-bind="click: Calculate">Calculate</button>
            <button class="button" data-bind="click: Cancel">Cancel</button>
        </div>

        <div style="position:absolute;background: black;margin-left:50%" data-bind="Loading: Loading"></div>
    </form>
</script>
